<div class="container__big-card">

    <div class="big-card__photo">
        <img src="" alt="" height="300px" srcset="">
    </div>

    <div class="big-card__title">
        <h2>Saiu a nova versão do Angular</h2>
    </div>

    <div class="big-card__description">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu arcu risus. Aliquam non ornare quam.
            Maecenas mi nunc, luctus vel quam sed, iaculis cursus velit. Pellentesque nec orci tempus, fringilla neque
            sit amet, placerat lorem. 
        </p>
    </div>

</div>